<!-- Blog entries -->
<div class="w3-row">
	<div class="w3-col m6 s12">
		<a href="/"><button type="button" class="w3-padding-large w3-margin-left gg-button w3-border"><b>« RETURN TO HOME</b></button></a>
	</div>
</div>
<div class="w3-col l8 s12">
	<!-- Blog entry -->
	<div class="w3-card-4 w3-margin w3-white">
		<% if @post[:photo] %>
			<div class="" style="">
				<img class="w3-image" src=<%= @post[:photo] %> alt="image">
			</div>
		<% end %>
		<div class="w3-container">
			<h3><b><%= h @post[:title] %></b></h3>
		</div>

		<div class="w3-container">
			<p><%= h @post[:content] %></p>
			<div class="w3-row">
				<div class="w3-col s12 m8">
					<p><span class="w3-padding-large"><b>Comments  </b> <span class="w3-tag"><%= @comment.size %></span> | <b>Rated  </b><em id="star"><%= @post[:rating].to_i %></em><i class="fas fa-star"></i> | <button class="gg-button" type ="button" onclick="addStar('/star/', <%= @post[:id] %>)"><b>Star me!</b></button></span></p>

				</div>
			</div>
		</div>

		<hr>
		<div class="w3-container">
			<div class="w3-container">
				<h3><b>Comments</b></h3>
			</div>
			<ul class="w3-ul">
				<% for i in 0...@comment.size %>
					<li class="w3-padding-16">
						<img class="w3-left w3-margin-right gg-min" src="https://www.adweek.com/wp-content/uploads/2017/04/rick-morty-mcdonalds-hed-2017-840x460.jpg" alt="comment">
						<span class="w3-large"><%= h @comment[i] %></span><br>
						<br>
					</li>
				<% end %>
			</ul>
		</div>
		<hr>
		<div class="w3-container">
			<h3 class="w3-container"><b>Add a Comment</b></h3>
			<form class="w3-container" action="/article/<%= @post[:id] %>" method="post">
				 <textarea class="w3-input w3-border" name="msg" placeholder="Your coment over here!" required></textarea>
				<button type="submit" class="w3-padding-large gg-button w3-border w3-right w3-margin-top w3-margin-bottom"><b>ADD COMMENT</b></button>
			</form>
		</div>
	</div>

	<!-- END BLOG ENTRIES -->
</div>
